<section class="col-10 m-auto mt-3">
  <h1>Students Registration</h1>
  <hr />
  <article class="user-registration-form">
    <img
      class="user-img"
      *ngIf="tempStudent.imgSrc"
      [src]="tempStudent.imgSrc"
      alt="uploaded image"
    />
    <div class="mb-3">
      <label for="">Enter user Image</label>
      <input
        (change)="onUploadStdImageChange($event)"
        type="file"
        class="form-control"
      />
    </div>
    <div class="d-flex justify-content-between">
      <div class="mb-3 col-md-5">
        <label for="">Enter user name</label>
        <input
          [(ngModel)]="tempStudent.name"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3 col-md-5">
        <label for="">Enter user surName</label>
        <input
          [(ngModel)]="tempStudent.surName"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="">Enter user age</label>
      <input [(ngModel)]="tempStudent.age" type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="">Enter user mail</label>
      <input [(ngModel)]="tempStudent.mail" type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="">Enter user phone</label>
      <input [(ngModel)]="tempStudent.phone" type="text" class="form-control" />
    </div>
    <div class="d-flex justify-content-between">
      <div class="mb-3 col-md-3">
        <label for="">Enter user country</label>
        <input
          [(ngModel)]="tempStudent.address.country"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3 col-md-3">
        <label for="">Enter user street</label>
        <input
          [(ngModel)]="tempStudent.address.street"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3 col-md-3">
        <label for="">Enter user city</label>
        <input
          [(ngModel)]="tempStudent.address.city"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="mb-3">
      <button
        (click)="onRegisterStdBtnClick()"
        class="btn btn-dark col-md-12 d-block"
      >
        Register
      </button>
    </div>
  </article>
  <article class="d-flex flex-wrap">
    <mat-card
      class="example-card me-5 mt-5"
      *ngFor="let student of studentsList"
    >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ student.name }}</mat-card-title>
          <mat-card-title>{{ student.surName }}</mat-card-title>
          <mat-card-subtitle>{{ student.age }}</mat-card-subtitle>
          <mat-card-subtitle>{{ student.mail }}</mat-card-subtitle>
          <mat-card-subtitle>{{ student.phone }}</mat-card-subtitle>
          <img mat-card-xl-image [src]="student.imgSrc" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ student.address.country }}
      </mat-card-content>
      <mat-card-content>
        {{ student.address.street }}
      </mat-card-content>
      <mat-card-content>
        {{ student.address.city }}
      </mat-card-content>
    </mat-card>
  </article>
</section>
